{% extends 'index-1.html' %} {% block body %}
{##}
<html>
<head>
    <title>Certificate</title>

</head>
<body>

<form id="form1"  name="form1" method="post" action=""><center>

  <table width="800" height="900" align="center" style="background-color:#ffffff">
      <tr align="center" ><td ><font face="times new roman" size="3" color="teal"> <h1 ><i><B><br><br><center>UNIVERSITY OF CALICUT</center></B></i></h1></font></td></tr>

          <tr><td align="center"style="background-color:#ffffff"><img src="/static/cu_logoo.png"><br></td></tr>

{#    <tr style="background-image: url('/static/cert_head.jpg');background-repeat: no-repeat; height: 250px;">#}
      <br><br><td></td>
    </tr>

    <tr>
      <td align="center" ><br><h3 style="color: black"> FACULTY OF{{ res['department'] }}</h3><br>
         <font color="black"> whereas it has been certified by duly appointed Examiners that<br>
             <strong><span style="font-size: 16px;"><b>{{ res['name'] }}</b></span></strong><br>(Register No:<b>{{ res['regno'] }})</b><br><br>
          is qualified to receive
          the <span style="font-size: 16px;">Degree of <br>{{ res['course'] }}</span><br>
             {{ gender }} having sucessfully completed the programme in <b> April {{ res['to_year'] }}</b><br><br>
             and been placed in <b> {{ clss }}</b><br> with overall grade <b> {{ grade }}</b><br><br>
          The senate of the University of Calicut hereby confers on {{ h }}<br>
          the Degree of<br>
             <span style="font-size: 18px;"><b><i>{{ res['course'] }}</i></b></span><br><br>
          with all rights,privileges and Honours thereunto appetaining.<br>
          given under the seal of the university<br><br></font>
      </td>
    </tr>
      <tr>
          <td align="right"style="background-color:#ffffff"><br><img src="{{ data2 }}" height="150" width="150"/>&emsp;</td>
      </tr>
{#    <tr style="background-image: url('/static/cert_foot.jpg');background-repeat: no-repeat; height: 170px">#}
{#      <td >#}
{#      </td>#}
{#    </tr>#}
      <tr><td><font color="black">CALICUT UNIVERSITY PO</font></td>
      </tr><tr><td> <font color="black">
      Kerala, INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vice-Chancellor</font>
    &emsp;</td>

  </tr>
      <tr><td><font color="black">PIN-672635
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digitally Signed by Dr KMOHAMMED BASHEER    </font>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;

     <img src="/static/cu_logoo.png"height="50" width="50"/>     </td>  </tr>
      <tr>
<tr><td><font color="black">DATE:{{ date }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp; DATE:{{ time }} </font> </td>



      </tr>
      <tr><td bgcolor="#deb887" align="right"><font color="black"><br> No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br></font></td></tr>
  </table></center>
</form>
</body>
</html>
{% endblock %}




{##}
{##}
{#{% extends 'index-1.html' %} {% block body %}#}
{##}
{#<html>#}
{#<head>#}
{#    <title>Certificate</title>#}
{##}
{#</head>#}
{#<body>#}
{##}
{#<form id="form1" name="form1" method="post" action=""><center>#}
{##}
{#  <table width="1000" align="center" style="background-color:#ffffff">#}
{#      <center>#}
{##}
{#          <tr align="center" ><td><font face="times new roman" size="3" color="#deb887"> <h1><i><B><br><br><center>UNIVERSITY OF CALICUT</center></B></i></h1></font></td></tr>#}
{##}
{#       <tr><td align="center"style="background-image: url('/static/cu_logoo.png');background-repeat: no-repeat; height: 50px; width: 50px;">#}
{#       </td></tr>#}
{#          <tr><td align="center"style="background-color:#ffffff"><img src="/static/cu_logoo.png"></td></tr>#}
{#    <tr>#}
{##}
{#        <td align="center" style="background-color:white"><br><font face="times new roman" size="5" color="black" size="5"><b> FACULTY OF {{ res['department'] }}</b><br>#}
{#          <br>whereas it has been certified by duly appointed Examiners that<br>#}
{#            <strong><span style="font-size: 18px; "><b><font color="black">{{ res['name'] }}</font></b></span></strong><br>#}
{#          is qualified to receive the <span style="font-size: 18px;"><b>Degree of {{ res['course'] }}</b></span><br><br>#}
{#          The senate of the University of Calicut hereby confers on him<br>#}
{#          the Degree of<br>#}
{#          <span style="font-size: 18px;"><b>{{ res['course'] }}</b></span><br>#}
{#          with all rights,privileges and Honours thereunto appetaining.<br>#}
{#          given under the seal of the university<br><br>#}
{#      </font></td></center>#}
{#    </tr>#}
{#      <tr>#}
{#          <td align="right"style="background-color:#ffffff"><img src="{{ data2 }}" height="150" width="150"/>&emsp;</td>#}
{#      </tr>#}
{#    <tr style="background-image: url('/static/cert_foot.jpg');background-repeat: no-repeat; height: 170px">#}
{#      <td >#}
{#      </td>#}
{#    </tr>#}
{##}
{#          <tr>#}
{#              <td align="left" ><font face="times new roman" size="5" color="black" size="3">CALICUT UNIVERSITY PO<br>#}
{##}
{#            Kerala,INDIA<BR>#}
{#          PIN-673 635<BR>#}
{#                  DATE:</font></td>#}
{##}
{#              <td><font face="times new roman" size="5" color="black" size="3"> Vice-Chancellor </font></td>#}
{##}
{#         <td style="background-color:#ffffff"><img src="/static/cu_logoo.png"></td></tr>#}
{##}
{##}
{#  </table></center>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}




