
<form id="form1" name="form1" method="post" action="">
  <table width="285" border="0">
      <tr>
      <td><a href="/change_password">CHANGE PASSWORD</a></td>
    </tr>
    <tr>
      <td><a href="/ad_add_subadmin">ADD SUBADMIN</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_subadmin">VIEW SUBADMIN</a></td>
    </tr>
    <tr>
      <td><a href="/ad_college">ADD COLLEGE</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_college">VIEW COLLEGE</a></td>
    </tr>
    <tr>
      <td width="275"><a href="/add_dept">ADD DEPARTMENT</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_dept">VIEW DEPARTMENT</a></td>
    </tr>

    <tr>
      <td><a href="/add_course">ADD COURSE</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_course">VIEW COURSE</a></td>
    </tr>
      <tr>
      <td><a href="/ad_add_course_college">ADD COLLEGE COURSES</a></td>
    </tr>
      <tr>
      <td><a href="/view_course_college">VIEW COLLEGE COURSE</a></td>
    </tr>

    <tr>
      <td><a href="/ad_add_batch">ADD BATCH</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_batch">VIEW BATCH</a></td>
    </tr>


    <tr>
      <td><a href="/ad_add_subject">ADD SUBJECT</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_subject">VIEW SUBJECT</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_search_students">STUDENTS DETAILS</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_complient">VIEW COMPLIENT</a></td>
    </tr>
    <tr>
      <td><a href="/ad_certificate_generate">CERTIFICATE GENERATION</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_certificate_fraud">CERTIFICATE FRAUD MESSAGES</a></td>
    </tr>
    <tr>
      <td><a href="/ad_view_verifier_details">VIEW VERIFIER DETAILS</a></td>
    </tr>
    <tr>
      <td><a href="/ad_sent_notification">SENT NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/view_notification">VIEW NOTIFICATION</a></td>
    </tr>
       <tr>
      <td><a href="/view_internal_mark">VIEW INTERNAL MARKS</a></td>
    </tr>
       <tr>
      <td><a href="/view_external_mark">VIEW EXTERNAL MARKS</a></td>
    </tr>
  </table>
</form>

