{% extends 'index-1.html' %} {% block body %}

<form  action="/adm_ajax_studdd"   onsubmit="return validate()" method="post" enctype="multipart/form-data" name="form1" id="form1">

  <table width="300" height="300"  border="0" >
  <tr>
      <td colspan="2" width="280" height="54">College Name</td>
      <td colspan="9">
        <select  name="clg" id="clg" >
        <option >select</option>
             {% for d in data %}
            <option value="{{ d['login_id'] }}">{{ d['college'] }}</option>
            {% endfor %}
        </select></td>
    </tr>

    <tr>
      <td colspan="2" width="300" >Department</td>
      <td colspan="9">
        <select name="dept" id="dept2" >
        <option >select</option>
{#            {% for d in data %}#}
{#            <option value="{{ d[0] }}">{{ d[1] }}</option>#}
{#            {% endfor %}#}
        </select></td>
    </tr>
    <tr>
      <td colspan="2" width="300">Course Name</td>
      <td colspan="9">
        <select name="cou" id="cou" >
              <option selected="selected">select</option>
{#           {% for d in data2 %}#}
{#           <option value="{{ d[0] }}">{{ d[2] }}</option>#}
{#            {% endfor %}#}
        </select></td>
    </tr>

        <tr>
      <td colspan="2" width="300">Batch</td>
      <td colspan="9" width="60">
        <select name="batch" id="batch" >
             <option selected="selected">select</option>
{#           {% for d in data2 %}#}
{#           <option value="{{ d[0] }}">{{ d[2] }}</option>#}
{#            {% endfor %}#}
        </select></td>
    </tr>


{#    <tr>#}
{#    </tr>#}

{#  </table>#}
{#  <p>&nbsp;</p>#}
{#  <table class="table table-bordered" id="t1">#}
{#    <tr style="color: white" bgcolor="black" >#}
{#      <th>S/No</th>#}
{#      <th>Photo</th>#}
{#      <th>Student Name</th>#}
{#      <th>Course Name</th>#}
{#      <th>Department name</th>#}
{#      <th>College name</th>#}
{#        <td>Sem</td>#}
{#      <td>&nbsp;</td>#}
{#    </tr>#}
{#      {% for i in data4 %}#}
{#  <tr style="color: black" bgcolor="#a9a9a9">#}
{##}
{#      <td>{{ loop.index }}</td>#}
{#      <td><img src="{{ i[0] }}" height="100" width="100"></td>#}
{#      <td>{{ i[1] }}</td>#}
{#      <td>&nbsp;{{ i[2] }}</td>#}
{#      <td>{{ i[3] }}</td>#}
{#      <td>{{ i[4] }}&nbsp;</td>#}
{#      <td><a href="/ent_ext/{{ i[6] }}" class="btn btn-success">Add</a></td>#}
{##}
{#    </tr>#}
{#      {% endfor %}#}

{#  </table>#}
{#</form>#}
 <script src="/static/jquery.js">
            </script>
<script>

     $(document).ready(function () {

        $("#clg").change(function () {

            $("#dept2").empty();
             colgid = $("#clg").val()

            $.ajax({
                url: '/ajax_dept_by_clg',
                type: 'post',
                data: {clgid: colgid},
                success: function (respons) {
                    len = respons.length;
{#                    $("#dept2").empty();#}
{#                    $("#dept2").empty();#}
                    $("#dept2").append('<option >select</option>')
{#                    ('<option selected="selected">--select--</option>')#}
                    for (var i = 0; i <= len; i++) {
                        did = respons[i]["id"]
                        dname = respons[i]["department"]
                        $("#dept2").append('<option value=' + did + '>' + dname + '</option>')
                    }

                }, error: function (error) {

                }

            });
        });




            $("#dept2").change(function () {
                deptid = $(this).val()
                colgid = $("#clg").val()
                $.ajax({
                    url: '/adm_ajax_course_call_internal',
                    type: 'post',
                    data: {clgid: colgid, dptid: deptid},
                    success: function (respons) {
                        len = respons.length;
                        $("#cou").empty();
                        $("#cou").append('<option >select</option>')
                        for (var i = 0; i <= len; i++) {
                            courseid = respons[i]["id"]
                            coursename = respons[i]["course"]
                            $("#cou").append('<option value=' + courseid + '>' + coursename + '</option>')
                        }

                    }, error: function (error) {

                    }

                });
            });



               $("#cou").change(function () {
                course_id = $(this).val()
                colgid = $("#clg").val()


                $.ajax({
                    url: '/adm_ajax_batch',
                    type: 'post',
                    data: {clgid: colgid, course_id: course_id},
                    success: function (respons) {
                        len = respons.length;
                        $("#batch").empty();
                         $("#batch").append('<option >select</option>')
                        for (var i = 0; i <= len; i++) {
                            batch_id = respons[i]["id"]
                            batchyearfrom = respons[i]["from_year"]
                            batchyearto = respons[i]["to_year"]
                            $("#batch").append('<option value=' + batch_id + '>' + batchyearfrom +'-'+ batchyearto + '</option>')
                        }

                    }, error: function (error) {

                    }

                });
            });



{##}
{#                     $("#batch").change(function () {#}
{#                         batch = $(this).val()#}
{##}
{##}
{##}
{#                $.ajax({#}
{#                    url: '/adm_ajax_studdd',#}
{#                    type: 'post',#}
{#                    data: {batch_id: batch},#}
{##}
{#                    success: function (respons)#}
{#                    {#}
{##}
{#                        len = respons.length;#}
{#                        alert("lennn",ln)#}
{##}
{#                        $("#t1").empty();#}
{#                        $("#t1").append('<tr style="color: white" bgcolor="black" ><th>S/No</th><th>Photo</th><th>Student Name</th><th>Course Name</th><th>Department name</th><th>College name</th><th>Batch</th><td>&nbsp;</td></tr>')#}
{##}
{##}
{##}
{#                        for (var i = 0; i <= len; i++) {#}
{#                            alert("vvvv")#}
{##}
{#                            photo = respons[i]["image"]#}
{#                            coursename = respons[i]["course"]#}
{#                            name=respons[i]["name"]#}
{#                            ddep=respons[i]['department']#}
{#                            col=respons[i]['college']#}
{#                            from=respons[i]['from_year']#}
{#                            to=respons[i]['to_year']#}
{#                            sid=respons[i]['id']#}
{#                            regno=respons[i]['regno']#}
{#                            batch_name = from +'-'+ to#}
{#                            $("#t1").append('<tr style="color: black" bgcolor="#a9a9a9"><td>'+i+1+'</td><td><img src="static/student_pics/'+photo+'" height="100" width="100"></td><td>'+name+'</td><td>'+coursename+'</td><td>'+ddep+'</td><td>'+col+'</td><td>'+batch_name+'</td><td><a href="/adm_cert_gen/'+sid+'" dd="gen" class="btn btn-info">Generate</a></td></tr>')#}
{#                        }#}
{#                    }, error: function (error) {#}
{##}
{#                    }#}
{##}
{#                });#}
{#            });#}
        });
</script>


  <tr>
      <td colspan="11"><CENTER><input type="submit" name="button" id="button" value="SEARCH" /></CENTER></td>
    </tr>
  </table><table width="1100"  border="1">

     <tr bgcolor="#5f9ea0">

       <td height="54" width="122" >Sl/no</td>


          <td  width="170">Name</td>
      <td width="170">Photo</td>
        <td width="170" >Regno</td>
      <td width="170" >Course</td>
      <td width="170">Department</td>
      <td width="300">Batch</td>
      <td width="170">Percentage</td>

      <td width="170">Class</td>
      <td width="170">Grade</td>
          {% for i in  aa %}
      <td width="80">{{ i }}</td>
        {% endfor %}
        <td width="170">Status</td>
     <td width="170"></td>
    </tr>

    <tr>



  {% for i in range(0,res|length) %}
      <td>{{ loop.index }}</td>
      <input type="hidden" name="cls" value="{{ percentage[i][8] }}"/>

     <td>&nbsp;{{ percentage[i][0] }}</td>
      <td><img src="/static/student_pics/{{ image[i][0] }}" width="90" height="90"></td>
 <td>&nbsp;{{ percentage[i][1] }}</td>
       <td>&nbsp;{{ percentage[i][3] }}</td> <td>&nbsp;{{ percentage[i][2] }}</td>
       <td>&nbsp;{{ percentage[i][4] }}</td>
       <td>&nbsp;{{ percentage[i][7] }}%</td>
       <td>&nbsp;{{ percentage[i][8] }}</td>
        <td>&nbsp;{{ percentage[i][9] }}</td>
      <td>{{percentage[i][6] }}</td>


     <td width="34"><a href="/adm_cert_gen/{{ percentage[i][5] }}/{{ percentage[i][8] }}/{{ percentage[i][9] }}/{{ percentage[i][1] }}">GENERATE</a></td>
     </tr>
{% endfor %}




{#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}














  </table></form>

{% endblock %}




