{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_subject_post">
<input type="hidden" value="{{sub['id']}}" name="id">
  <table width="611" height="293" border="0" style="border: solid;background-color: #9F9F9F">
    <tr>
      <td>&nbsp;&nbsp;&nbsp;SUBJECT</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" value="{{ sub['subject'] }}" id="textfield" required/></td>
    </tr>
      <tr>
      <td>&nbsp;&nbsp;&nbsp;SUBJECT CODE</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield2" value="{{ sub['subject_code'] }}" id="textfield" required /></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;COURSE</td>
      <td><label for="textfield2"></label>
        <label for="select"></label>
        <select name="select" id="select">
            {% for i in  crs %}
            <option value="{{ i['id'] }}"  {% if(i['id']==sub['course_id']) %} selected {% endif %}>{{ i['course'] }}</option>
        {% endfor %}

      </select></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;SEMESTER</td>
      <td><label for="select2"></label>
        <select name="select2" id="select2">
            <option value="1" {% if(sub['semester']==1) %}selected {% endif %}>1</option>
            <option value="2"{% if(sub['semester']==2) %} selected{% endif %}>2</option>
            <option value="3"{% if(sub['semester']==3) %}selected {% endif %}>3</option>
            <option value="4"{% if(sub['semester']==4) %} selected{% endif %}>4</option>
            <option value="5"{% if(sub['semester']==5) %} selected{% endif %}>5</option>
            <option value="6"{% if(sub['semester']==6) %} selected{% endif %}>6</option>
            <option value="7"{% if(sub['semester']==7) %}selected {% endif %}>7</option>
            <option value="8"{% if(sub['semester']==8) %} selected{% endif %}>8</option>
            <option value="9"{% if(sub['semester']==9) %}selected {% endif %}>9</option>
            <option value="10"{% if(sub['semester']==10) %} selected{% endif %}>10</option>

      </select></td>
    </tr>
    <tr>
      <td colspan="2"><CENTER><input type="submit" name="button" id="button" value="UPDATE" /></CENTER></td>
    </tr>
  </table>
</form>
</body>
</html>
</center>
{% endblock %}