{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/view_markk">
  <table width="1419" border="0">
      <tr>
      <td colspan="12">SEMESTER
        <label for="select3"></label>
        <select name="select3" id="select3">
            <option>select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
      </select></td>

    </tr>
   <tr>
       <td height="30" colspan="19"><center><input type="submit" name="button" id="button" value="SEARCH" /></center></td>


    </tr>
      <tr>
        <td colspan="12">&nbsp;</td>
      </tr></table>
  <table width="1419" border="1" >
    <tr bgcolor="#5f9ea0">

       <td height="54" width="122">SUBJECT</td>
      <td width="149">INTERNAL</td>
        <td width="149">EXTERNAL</td>
    </tr>


    <tr>
       {% for i in range(0,sub|length) %}
      <td height="54">{{ sub[i]['subject'] }}</td>
      <td>&nbsp;{{ mark[i] }}</td>
     <td>&nbsp;{{ mark1[i] }}</td>
    </tr>
      {% endfor %}

  </table>
</form>
</body>
</html>
</center>
{% endblock %}