{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/sent_notification_post">
  <table width="611" height="193" border="0" style="background-color: #9F9F9F;border: solid">
    <tr>
      <td>NOTIFICATION</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2" height="60"><CENTER><input type="submit" name="button" id="button" value="SENT" /></CENTER></td>
    </tr>
  </table>
</form>
</body>
</html>
</center>
{% endblock %}