{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/sent_complient_replay_post">
    <input type="hidden" value="{{ data['id'] }}" name="id">
  <table width="700"  border="0" style="border: solid;background-color: #9F9F9F">
    <tr>
      <td height="200">COMPLAINT</td>
      <td><label for="textarea2"></label>
      <textarea name="textarea2" READONLY value="{{ data['complient'] }}" id="textarea2" cols="45" rows="5">{{ data['complient'] }}</textarea></td>
    </tr>

    <tr>
      <td height="200">REPLAY</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" value="{{ data['replay'] }}" id="textarea" cols="45" rows="5" required>{{ data['replay'] }}</textarea></td>
    </tr>

    <tr>
      <td colspan="2" height="58"><center><input type="submit" name="button" id="button" value="SENT" /></center></td>
    </tr>
  </table>
</form>
</body>
</html>
</center>
{% endblock %}