{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1414" border="0">
    <tr bgcolor="#5f9ea0">
      <td height="54">SL NO</td>
      <td>DATE</td>
      <td>REPORTMSG</td>
      <td>FROM</td>
        <td>EMAIL</td>
        <td>PHONE NO</td>
    </tr>
    <tr>
        {% for i in data %}
      <td height="60">{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{i['date']}}</td>
      <td>&nbsp;{{ i['report_msg'] }}</td>
      <td>{{i['name'] }}&nbsp;</td>
        <td>&nbsp;{{i['mail_id'] }}</td>
        <td>&nbsp;{{i['phone_no'] }}</td>
{#        <td>&nbsp;{{ report_msg }}</td>#}
        {% endfor %}
{#        #}
    </tr>
  </table>
</form>
</body>
</html>
</center>
{% endblock %}