{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1103" border="0">
    <tr>
      <td colspan="9">VIEW COLLEGES </td>
    </tr>
      <tr>
       <td colspan="3"><label  for="textfield"></label>
      <input  type="text" name="textfield" id="textfield"  required/></td>
       <td colspan="9"><input type="submit" name="button" id="button" value="SEARCH" /></td></td>

    </tr>
    <!--<tr>
      <td width="219">District wise:<label for="select"></label>
        <select name="select" id="select">
      </select></td>
      <td><label for="select2"></label>
        Colloege wise
          <select name="select2" id="select2">
      </select></td>
    </tr>-->
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr bgcolor="#5f9ea0">
      <td height="54">
        SL NO
      </td>
      <td width="195">College </td>
      <td width="64">State</td>
      <td width="54">District</td>
      <td width="32">place</td>
      <td width="51">post</td>
      <td width="87">pin code</td>
      <td width="68">mail id</td>
      <td width="74">phone no</td>
    </tr>
      {% for i in std %}
    <tr>
      <td height="60">{{ loop.index }}&nbsp;</td>
      <td>{{ i['college'] }}&nbsp;</td>
      <td>{{ i['state'] }}&nbsp;</td>
      <td>{{ i['district'] }}&nbsp;</td>
      <td>&nbsp;{{ i['place'] }}</td>
      <td>&nbsp;{{ i['post'] }}</td>
      <td>{{ i['pincode'] }}&nbsp;</td>
      <td>{{ i['mail_id'] }}&nbsp;</td>
      <td>{{ i['phone_no'] }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}