{% extends"index-3.html" %}
{% block body %}<br><br><br>
<center><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/add_staff_post">
  <table width="500" height="600" border="0">
    <tr>
      <td>NAME</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td><input type="radio" name="radio" id="radio" value="male" />MALE<br>
      <label for="radio">
        <input type="radio" name="radio" id="radio2" value="female" />
      FEMALE</label></td>
    </tr>
    <tr>
      <td>HOUSE NAME</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>POST</td>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <td>PIN CODE</td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" /></td>
    </tr>
    <tr>
      <td>DEPARTMENT</td>
      <td><label for="select"></label>
        <select name="select" id="select">
        <option>select</option>
            {% for i in data %}
            <option value="{{ i['id'] }}">{{ i['department'] }}</option>
            {% endfor %}
      </select></td>
    </tr>

    <tr>
      <td>MAIL ID</td>
      <td><label for="textfield8"></label>
      <input type="email" name="textfield8" id="textfield8" /></td>
    </tr>
    <tr>
      <td>PHONE NUMBER</td>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9" /></td>
    </tr>
    <tr>
      <td colspan="2"><CENTER><input type="submit" name="button" id="button" value="ADD" /></CENTER></td>
    </tr>
  </table>
</form>
</body>
</html></center>{% endblock %}
