<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
      <tr>
      <td><a href="/change_password">CHANGE PASSWORD</a></td>
    </tr>
    <tr>
      <td><a href="/c_view_profile">VIEW PROFILE</a></td>
    </tr>
    <tr>
      <td><a href="/c_add_staff">STAFF MANAGEMENT</a></td>
    </tr>
      <tr>
      <td><a href="/c_view_staff"> VIEW STAFF</a></td>
    </tr>
    <tr>
      <td><a href="/c_add_student"> ADD STUDENT DETAILS </a></td>
    </tr>
    <tr>
      <td><a href="/c_view_course">VIEW COURSES</a></td>
    </tr>

    <tr>
      <td><a href="/c_view_student">VIEW STUDENT DETAILS</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW INTERNAL MARK</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW EXTERNAL MARK</a></td>
    </tr>
    <tr>
      <td><a href="/sent_complient">SENT COMPLIENT</a></td>
    </tr>
      <tr>
      <td><a href="/view_complient">VIEW COMPLIENT AND REPLAY</a></td>
    </tr>
    <tr>
      <td><a href="/c_view_notificationn">VIEW NOTIFICATION</a></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
