{% extends"index-3.html" %}
{% block body %}<br><br><br>
<center><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/view_course_post">
  <table width="500" border="0">
    <tr>
      <td colspan="3" height="54">COLLEGE
        <label for="select"></label>
        <select name="select" id="select">
            <option>select</option>
            {% for i in clg %}
            <option value="{{ i['login_id'] }}">{{ i['college'] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td colspan="3" height="54"><CENTER><input type="submit" name="button" id="button" value="SEARCH" /></CENTER></td>
    </tr>
    <tr>
      <td width="24" height="54">SL NO</td>
      <td width="62">COURSE</td>
      <td width="113">DEPARTMENT</td>
    </tr>
      {% for i in data %}
    <tr>
      <td height="54">{{loop.index }}&nbsp;</td>
      <td>{{ i['course'] }}&nbsp;</td>
      <td>&nbsp;{{ i['department'] }}</td>
    </tr>
  {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}
