{% extends"index-3.html" %}
{% block body %}<br><br><br>
<center><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="600" height="500" border="0">
    <tr>
      <td width="175">COLLEGE</td>
      <td width="71">{{ data['college'] }}&nbsp;</td>
    </tr>
    <tr>
      <td>STATE</td>
      <td>&nbsp;{{ data['state'] }}</td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td>&nbsp;{{ data['district'] }}</td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td>{{ data['place'] }}&nbsp;</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>{{ data['post'] }}&nbsp;</td>
    </tr>
    <tr>
      <td>PIN CODE</td>
      <td>{{ data['pincode'] }}&nbsp;</td>
    </tr>
    <tr>
      <td>MAIL ID</td>
      <td>&nbsp;{{ data['mail_id'] }}</td>
    </tr>
    <tr>
      <td>PHONE NUMBER</td>
      <td>&nbsp;{{ data['phone_no'] }}</td>
    </tr>
  </table>
</form>
</body>
</html></center>
{% endblock %}
