{% extends"index-3.html" %}
{% block body %}<br><br><br>
<center><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1500" border="0">
    <tr>
      <td>SL NO</td>
      <td>NAME</td>
      <td>DOB</td>
      <td>GENDER</td>
      <td>HOUSE NAME</td>
      <td>POST</td>
      <td>PLACE</td>
      <td>PIN CODE</td>
      <td>DEPARTMENT</td>
      <td>MAIL ID</td>
      <td>PHONE NUMBER</td>
      <td colspan="2">&nbsp;</td>
    </tr>
      {% for i in staff %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i['name'] }}&nbsp;</td>
      <td>&nbsp;{{ i['dob'] }}</td>
      <td>{{ i['gender'] }}&nbsp;</td>
      <td>{{ i['house_name'] }}&nbsp;</td>
      <td>{{ i['post'] }}&nbsp;</td>
      <td>{{ i['place'] }}&nbsp;</td>
      <td>&nbsp;{{ i['pin_code'] }}</td>
      <td>&nbsp;{{ i['department'] }}</td>
      <td>{{ i['mail_id'] }}&nbsp;</td>
      <td>{{ i['phone_no'] }}&nbsp;</td>
      <td><a href="/c_edit_staff/{{ i['id'] }}">EDIT</a></td>
      <td><a href="/c_delete_staff/{{ i['id'] }}">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}