{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/forget_password_post">
{#    <input type="hidden" value="{{data['type']}}" name="type">#}
{#    <input type="hidden" value="{{ data['user_name'] }}" name="uname">#}
  <table width="302" border="0">
    <tr>
      <td width="209">ENTER EMAIL</td>
      <td width="77"><label for="textfield"></label>
      <input type="email" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td colspan="2"><center><input type="submit" name="button" id="button" value="Submit" /></center>
{#          <a href="/forget_password">create new password</a></td></td>#}
    </tr>
  </table>
</form>
</body>
</html></center>
{% endblock %}
