{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
            </script>


     <script>
    $(document).ready(function () {

        $("#select2").change(function () {
            res1 = $(this).val();
{#            alert(res1)#}
            //res2 = $("#select3").val();

            $.ajax({
                url: '/view_external_mark1',
                type: 'post',
                data: {cid:res1},
                success :function (res) {
                    var len=res.length;


                    if(res.length==0)
                    {
                        $("#r1").html("no item found")
                        $("#abc").text("");
                    }
                    else {


                        $("#abc").text("");
                        $("#r1").text("");
                        $("#select").append('<select name="select" id="select">')

                        for (i = 0; i <= len; i++) {
                            var ind=i+1;
                            var id = res[i]["id"]
                            var course = res[i]["course"]
                            //var batcht=res[i]["to_year"]
                            $("#select").append('<option value="'+id+'">'+course+'</option>')

                        }
                        $("#select").append("</select>")
                    }
                },
                error:function (error) {

                }



            });

        });




    });
    </script>

    <script>
    $(document).ready(function () {

        $("#select").change(function () {
            res1 = $(this).val();
            //alert(res1)
            //res2 = $("#select3").val();

            $.ajax({
                url: '/view_external_mark2',
                type: 'post',
                data: {cid:res1},
                success :function (res) {
                    var len=res.length;


                    if(res.length==0)
                    {
                        $("#r1").html("no item found")
                        $("#abc").text("");
                    }
                    else {


                        $("#abc").text("");
                        $("#r1").text("");
                        $("#select4").append('<select name="select4" id="select4">')

                        for (i = 0; i <= len; i++) {
                            var ind=i+1;
                            var id = res[i]["id"]
                            var batch = res[i]["from_year"]
                            var batcht=res[i]["to_year"]
                            $("#select4").append('<option value="'+id+'">'+batch+'-'+batcht+'</option>')

                        }
                        $("#select4").append("</select>")
                    }
                },
                error:function (error) {

                }



            });

        });
    });
    </script>


</head>

<body>
<form id="form1" name="form1" method="post" action="/vview_external">

  <table width="577" height="365" border="0">
    <tr>
      <td colspan="12">COLLEGE
        <label for="select2"></label>
        <select name="select2" id="select2">
            <option>select</option>
            {% for i in clg %}
            <option value="{{ i['login_id'] }}">{{ i['college'] }}</option>
            {% endfor %}
      </select></td>
    </tr>

    <tr>
      <td colspan="12">COURSE
        <label for="select"></label>
        <select name="select" id="select">
            <option>select</option>
      </select></td>
    </tr>
    <tr>
      <td colspan="12">SEMESTER
        <label for="select3"></label>
        <select name="select3" id="select3">
            <option>select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
      </select></td>
    </tr>
      <tr>
      <td colspan="12">BATCH
        <label for="select4"></label>
        <select name="select4" id="select4">
             <option>select</option>
      </select></td>
    </tr>
       <tr>
      <td colspan="5"><CENTER><input type="submit" name="button" id="button" value="SEARCH" /></CENTER></td>
    </tr>

    <tr>
      <td width="67">SL NO</td>
      <td width="71">REGNO</td>
      <td width="55">NAME</td>
        {% for i in  sub1 %}
      <td width="80">{{ i['subject'] }}</td>
        {% endfor %}
    </tr>
     {% for mark in allstds %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
        {% for k in mark %}

            <td>{{ k }}</td>


            {% endfor %}


    </tr>
  {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}