{% extends"index-2.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="600" border="0">
    <tr>
      <td height="53">SL NO</td>
       <td>DATE</td>
      <td width="250">NOTIFICATION</td>
    </tr>
     {% for i in data %}
    <tr>
      <td height="53">{{ loop.index}}</td>
      <td>{{ i['date'] }}</td>
      <td>{{ i['notification'] }}</td>
      
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}