
{% extends"index-3.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="500" border="0">
    <tr>

      <td height="54">COMPLIENT</td>
        <td>REPLAY DATE</td>
      <td>REPLAY</td>
    </tr>
    <tr>

        <td height="54">&nbsp;{{data['complient'] }}</td>
       <td>{{ data['rep_date'] }}&nbsp;</td>
      <td>{{ data['replay'] }}&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
</center>
{% endblock %}