{% extends"index-1.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
      <tr>
      <td><a href="/change_password">CHANGE PASSWORD</a></td>
    </tr>
    <tr>
      <td><a href="/sub_view_profile">VIEW PROFILE</a></td>
    </tr>
    <tr>
      <td><a href="/sub_view_college">VIEW COLLEGE LISTS</a></td>
    </tr>
    <tr>
      <td><a href="/sub_view_student_details">VIEW STUDENT DETAILS</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW INTERNAL MARKS</a></td>
    </tr>
    <tr>
      <td><a href="/sub_add_external_mark"> ENTER EXTERNAL MARKS</a></td>
    </tr>
    <tr>
      <td><a href="/sub_view_notification">VIEW NOTIFICATIONS</a></td>
    </tr>
    <tr>
      <td><a href="/sub_sent_complient">SENT COMPLIENTS</a></td>
    </tr>
       <tr>
      <td><a href="/sub_view_complient">VIEW COMPLIENTS AND REPLAY</a></td>
    </tr>
  </table>
</form>
</body>
</html>
</center>
{% endblock %}
