{% extends"index-2.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="900"  border="0">
    <tr>
      <td height="54" width="31">SL NO</td>

      <td width="250">COMPLIENT DATE</td>
      <td width="350">COMPLIENT</td>
         <td width="137">STATUS</td>
        <td  colspan="2" width="102">&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td height="54">{{ loop.index }}&nbsp;</td>
      <td>{{ i['comp_date'] }}&nbsp;</td>
      <td>{{ i['complient'] }}&nbsp;</td>
        <td>{{ i['status'] }}&nbsp;</td>

      <td width="137"><a href="/sub_view_replay/{{ i['id'] }}"> VIEW REPLAY</a></td>
       <td><a href="/sub_delete_complient/{{ i['id'] }}">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}