{% extends"index-2.html" %}
{% block body %}<br><br><br><center>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/sub_view_college_post">
<input type="hidden" value="{{ data['id'] }}" name="id">
  <table width="1200" height="193" border="0">

  <tr>
       <td colspan="3" height="56"><label  for="textfield"></label>
      <input  type="text" name="textfield" id="textfield" /></td>
       <td colspan="9"><input type="submit" name="button" id="button" value="SEARCH" /></td></td>

    </tr>
    <tr>
      <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
      <td>SL NO</td>
      <td>COLLEGE</td>
      <td>STATE</td>
      <td>DISTRICT</td>
      <td>PLACE</td>
      <td>POST</td>
      <td>PIN CODE</td>
      <td>MAIL ID</td>
      <td>PHONE NO</td>
        <td colspan="2"></td></tr>
    </tr>
  {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i['college'] }}&nbsp;</td>
      <td>{{i['state'] }}&nbsp;</td>
      <td>{{ i['district'] }}&nbsp;</td>
      <td>&nbsp;{{i['place'] }}</td>
      <td>{{ i['post'] }}&nbsp;</td>
      <td>{{ i['pincode'] }}&nbsp;</td>
      <td>{{ i['mail_id'] }}&nbsp;</td>
      <td>{{ i['phone_no'] }}&nbsp;</td>
    <td width="34"><a href="/sub_view_collegecourse/{{ i['login_id'] }}">VIEW COURSES</a></td>
    </tr>
  {% endfor %}
  </table>
</form>
</body>
</html>
</center>
{% endblock %}
